html,
body {
    background-color: rgb(0,80,130);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.row {
    text-align:center;
    border:4px solid rgba(0,0,100,.4);
    background-color:rgba(0,0,100,.4);
    border-radius:10px;
    margin:0px 10px;
    margin-bottom:20px;
}

.top {
    margin-top:71px;
}

h1, h3 {
    color:rgb(0,175,200);
    margin-top:20px;
    margin-bottom:20px;
    font-weight:bold;
}

p {
    margin-top:10px;
    color:rgb(0,150,220);
    font-size:19px;
    padding:0px 20px;
}

.text-content {
    padding:10px 30px;
}

img {
    padding:20px 0px;
    margin:0 auto;
}